* {
  padding: 0em;
  margin: 0em;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  /*background: linear-gradient(to right, #31525B, #4d8291, #89e4f2);*/
  color: #FFFFFA;
  /*background: linear-gradient(to right, #FFA101, #FAE6B1);*/
}

/* HEADER BEGINS */

.header {
  background-color: #31525B;
  width: 100%; 
  left: 0;
  top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  width: 60px;
  cursor: pointer;
  border: none;
  padding-top: 1.1em;
  padding-left: 1em;
}

.title {
  color: #FFFFFA;
  font-size: 60px;
  font-weight: 500;
  padding-left: 0.4em;
  top: 0;
  left: 0;
  display:inline-block;
}

.catch {
  font-size: 18px;
  font-weight: 200;
  padding-left: 6em;
}

header h1 a:hover{
  color: #FFFFFA;
}

/* SIDEBAR BEGINS */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  align-items: center;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #31525B;
  color: #ebebec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ebebec;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ebebec;
}

.sidebar .closebar {
  position: absolute;
  top: 0;
  color: #ebebec;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbar {
  font-size: 20px;
  cursor: pointer;
  color: #FFFFFA;
  border: none;
  flex: 1;
}

.openbar:hover {
  color: #fffffa;
}

#buttonsidebar {
  background-color: transparent;
  position: absolute;
  font-size: 25px;
  padding: 1em 2em 1em 2em;
  top: 0;
  right: 0;
  text-align: center;
}

#user {
  display: inline-flex;
}

.username {
  font-size: 25px;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  color: #FFFFFA;
}
.userphoto {
  padding-left: 2em;
}

.menu ul li{
  padding: 0.5em;
}

.menu ul li a{
  color: #FFFFFA;
}

.menu ul li a:hover{
  color: #89E4F2;
}

/* SIDEBAR ENDS */

.register {
  position: absolute;
  top: 5em;
  right: 1em;
  color: #FFFFFA;
  font-size: 15px;
  cursor: pointer;
}

.login {
  position: absolute;
  padding-top: 1.5em;
  padding-right: 1em;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: #FFFFFA;
  font-size: 15px;
  cursor: pointer;
}

.logout button {
  position: absolute;
  padding-top: 6em;
  padding-right: 2.5em;
  top:0;
  right:0;
  border: none;
  background-color: transparent;
  color: #FFFFFA;
  font-size: 15px;
  cursor: pointer;
}

/* HEADER ENDS */

/* REGISTER PAGE */

.profile {
  color: #000000;
  display: block;
}

/* REGISTER PAGE ENDS*/

/* DRAW RESTAURANTS */

.rests {
  color: #000000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 30px;
  font-weight: 500;
}

#searchrestaurants {
  width: 10%;
  top: 11em;
  right: 1em;
  box-sizing: border-box;
  position: absolute;
}

.restaurants {
  color: #000000;
  font-size: 400;
  display: block;
}

.restphoto {
  top: 5em;
  left: 1em;
  border-top: 1em;
  border-bottom: 1em;
  border-right: 10em;
  border-left: 1em;
  border-color: #89E4F2;
  cursor: pointer;
}

.restname {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  vertical-align: top;
  cursor: pointer;
}

.places{
  color: #000000;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  font-size: 30px;
  font-weight: 500;
}

/* DRAW ENDS */

/* RESTAURANT PAGE STARTS*/

.drawrest {
  color: #000000;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

#dishes {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  box-sizing: border-box;
}

.dishphoto {
  left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 3em;
}

.dishinfo {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  vertical-align: top;
  display: inline-block;
  padding-top: 2em;
  padding-left: 0.4em;
  left: 0;
  cursor: pointer;
}

.name {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
}

.description {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
}

.price {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
}

/* RESTAURANT PAGE ENDS */

#main {
  padding: 16px;
}

footer {
  background-color: #31525B;
  color: #FFFFFA;
  width: 100%;
  height: 1em;
  padding-bottom: 1em;
  left: 0;
  bottom: 0;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
}

/* Links organized */

a:link, a:visited {
  background-color: transparent;
  color: black;
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media only screen and (max-width:700px) {
  .header a {
    float: none;
    box-sizing: border-box;
    position: absolute;
    display: block;
    text-align: left;
    font-weight: 500;
  }

  .header-right {
    float: none;
  }

  .openbar {
    position: absolute;
    display: block;
    text-align: left;
  }

  .username {
    font-size: 25px;
    padding-left: 1em;
    padding-top: 0.5em;
  }

  .menu ul li a{
    font-size: 15px;
    font-weight: 300;
    padding: 1em;
  }

  .register {
    position: absolute;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1px;
    left: 0;
    top:0;
    border: none;
  }
  
  .login {
    position: absolute;
    margin-top: 6em;
    margin-left: 8em;
    top:0;
    border: none;
  }

  .logout button {
    position: absolute;
    margin-top: 8em;
    top:0;
    border: none;
  }
}