* {
  padding: 0em;
  margin: 0em;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  /*background: linear-gradient(to right, #31525B, #4d8291, #89e4f2);*/
  /*background: linear-gradient(to right, #FFA101, #FAE6B1);*/
}

/* HEADER BEGINS */

.header {
  background-color: #717744;
  color: #FFFFFA;
  width: 100%; 
  left: 0;
  top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  width: 60px;
  cursor: pointer;
  border: none;
  padding-top: 1.1em;
  padding-left: 1em;
}

header h1 a{
  color:#FFFFFA;
}

.pagetitle {
  color: #FFFFFA;
  font-size: 60px;
  font-weight: 400;
  padding-left: 0em;
  top: 0;
  left: 0;
  padding-left: 0.5em;
  display:inline-block;
}

.pagetitle:link {
  color: #FFFFFA;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
}

.catch {
  font-family: 'Satisfy', cursive;
  color: #FFFFFA;
  font-size: 15px;
  font-weight: 200;
  top: 0;
  left: 0;
  padding-left: 9em;
  display: flexbox;
}

header h1 a:hover{
  color: #FFFFFA;
}

/* restaurant types begin */

#search input {
  margin-right: 1em;
}

#searchbutton {
  align-items: center;
  background-color:  #abac7f;
  border: 1px solid transparent;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #373d20;
  display: inline-block;
  font-size: 16px;
  padding: 0.5em 1em 0.5em 1em;
  position: absolute;
  right: 1em;
  top: 9em;
}

#searchbutton:first-child {
  margin-right: 4em;
}


/* restaurant type ends */

.register {
  position: absolute;
  top: 5em;
  right: 1em;
  color: #FFFFFA;
  font-size: 15px;
  cursor: pointer;
}

.login {
  position: absolute;
  padding-top: 1.5em;
  padding-right: 1em;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: #FFFFFA;
  font-size: 15px;
  cursor: pointer;
}

.logout button {
  position: absolute;
  padding-top: 6em;
  padding-right: 2.5em;
  top:0;
  right:0;
  border: none;
  background-color: transparent;
  color: #FFFFFA;
  font-size: 15px;
  cursor: pointer;
}

/* HEADER ENDS */

#main {
  padding: 16px;
}

footer {
  background-color: transparent;
  color: #717744;
  width: 100%;
  height: 1em;
  padding-bottom: 1em;
  left: 0;
  bottom: 0;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
}

/* Links organized */

a:link, a:visited {
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media only screen and (max-width: 450px) {
  .header {
    width: 100%; 
    left: 0;
    top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    box-sizing: border-box;
    overflow: hidden;
  }

  .logo {
    width: 40px;
    cursor: pointer;
    border: none;
    padding-top: 1.1em;
    padding-left: 0.5em;
  }

  .pagetitle {
    font-size: 35px;
    font-weight: 500;
    padding-left: 0.2em;
  }

  .catch {
    font-size: 10px;
    padding-left: 6em;
    padding-top: 1em;
  }

  .header-right {
    float: none;
  }

  .openbar {
    position: absolute;
    display: block;
    text-align: left;
  }

  .username {
    font-size: 25px;
    padding-left: 1em;
    padding-top: 0.5em;
  }

  .menu ul li a{
    font-size: 15px;
    font-weight: 300;
    padding: 1em;
  }

  .register {
    position: absolute;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1px;
    left: 0;
    top:0;
    border: none;
  }
  
  .login {
    position: absolute;
    margin-top: 6em;
    margin-left: 8em;
    top:0;
    border: none;
  }

  .logout button {
    font-size: 13px;
    position: absolute;
    padding-top: 5.5em;
    top: 0;
    border: none;
  }
}